{% load static tailwind_tags %}
<html lang="en">
    <head>
        <title>Test Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    </head>
    <body class="bg-gray-50 font-sans leading-normal tracking-normal">
        <header class="flex flex-row justify-between items-center px-16 bg-gray-700 text-white h-16 shadow-md">
            <div>
                {% if user.is_authenticated %}
                    <h2 class="font-semibold text-xl"><a href="{% url 'dates' %}">Test Booking System</a></h2>
                {% else %}
                    <h2 class="font-semibold text-xl"><a href="{% url 'home' %}">Test Booking System</a></h2> 
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                <div class="flex space-x-4">
                    <!-- Notification -->
                    <div class="relative">
                        <div class="group">
                            <a href="{% url 'notifications'  %}">
                                {% if unread_notifications %} 
                                <div class="top-0 -left-1.5 rounded-full border-2 border-white absolute h-5 w-5 text-xs text-center font-semibold bg-pink-500">{{ unread_notifications }}</div>
                                {% endif %}
                                <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <a class="my-btn border border-gray-400 hover:bg-gray-600" href="{% url 'logout' %}">Log out</a>
                </div>
                {% else %}
                <div class="flex space-x-4">
                    <p><a class="my-btn border border-gray-400 hover:bg-gray-600" href="{% url 'login' %}">Log in</a></p>
                    <p><a class="my-btn bg-blue-600 hover:bg-blue-800" href="{% url 'register' %}">Register</a></p>
                </div>
                {% endif %}
            </div>
        </header>
        {% if messages %}
            <!---Feedback----->
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="mt-8 mx-16 px-8 py-3 text-lg text-red-600 bg-red-200">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="mt-8 mx-16 px-8 py-3 text-lg text-green-600 bg-green-200">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <section class="pt-8 mx-16">
            {% block content %}
            
            {% endblock content %}
        </section>
    </body>
</html>