<html>
    <head>
        <title>Road Tests Booking</title>
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
                <h2><a href="{% url 'dates' %}">Test Booking System</a></h2>
            {% else %}
                <h2><a href="{% url 'home' %}">Test Booking System</a></h2> 
            {% endif %}
        </header>
        <div>
            {% if user.is_authenticated %}
                <h3>Hello {{ user.username }}!</h3>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% endif %}
        </div>
        <section>
            {% block content %}
            
            {% endblock content %}
        </section>
    </body>
</html>