{% extends 'base.html' %}

{% block content %}
    <h2 class="text-3xl font-semibold mb-8">Welcome</h2>
    <div>
        <p>Welcome to the Driver's License Test Booking Web System.</p>
        {% if user.is_authenticated %}
        <p>Proceed to the <span><a class="underline text-blue-500" href="{% url 'dates' %}">Dashboard</a></span> to view available dates for booking a test.</p>
        {% else %}
        <p><span><a class="underline text-blue-500" href="{% url 'register' %}">Register</a></span> or <span><a class="underline text-blue-500" href="{% url 'login' %}">Login</a></span> to view available dates for booking a test.</p>
        {% endif %}
    </div>

{% endblock content %}