{% extends 'base.html' %}

{% block content %}
<section class="pt-8 px-16">
    <h3 class="text-xl font-semibold text-gray-900 mb-5">{{ object }}</h3>
    <p class="font-medium text-gray-600 mb-2">Test type: Written</p>
    <p class="font-medium text-gray-600 mb-8">Max Candidates: {{ object.max_candidates }}</p>
    {% if object.testapplication_set.all|length > 0 %}
        <h3 class="font-semibold mb-6 text-lg text-gray-900 underline">Candidates ({{ object.testapplication_set.all|length }})</h3>
        <div class="flex flex-col max-w-2xl">
            {% for item in object.testapplication_set.all %}
                <div class="bg-white mb-5 px-4 py-2 rounded shadow">
                        <div class="flex justify-between items-baseline">
                            <div>
                                <h3 class="font-semibold text-lg text-gray-900">{{ item.user }}</h3>
                            </div>
                            {% if not item.testresult or item.testresult.test_result == 'X' %}
                            <div>
                                {% if item.application_status != 'A' %}
                                <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-green-600 hover:border-green-400 hover:text-white" href="{% url 'approve_app' item.pk %}">Approve</a>
                                {% endif %}
                                {% if item.application_status != 'R' %}
                                <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'reject_app' item.pk %}">Reject</a>
                                {% endif %}
                                {% if item.testresult.test_result is not 'P' or 'F' %}
                                    <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'delete_app' item.pk %}">Delete</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="flex justify-between mt-5">
                            <div class="flex space-x-5">
                                <p class="text-sm text-gray-600">{{ item.get_application_status_display }}</p>
                            
                                {% if item.testresult.test_result == 'P' %}
                                <span class="rounded-full py-0.5 px-3 text-xs font-semibold bg-green-200 text-green-600">Passed</span>
                                {% elif item.testresult.test_result == 'F' %}
                                <span class="rounded-full py-0.5 px-2 text-xs font-semibold bg-red-200 text-red-600">Failed</span>
                                {% endif %}
                            </div>
                            {% if perms.test_dates.delete_testdate %}
                                {% if item.testresult  %}
                                <div class="flex space-x-2">
                                    {% if item.testresult.test_result != 'P' %}
                                    <a class="border border-gray-300 py-0.5 px-3 text-xs font-medium hover:bg-green-600 hover:border-green-400 hover:text-white" href="{% url 'pass_app' item.pk %}">Pass</a>
                                    {% endif %}
                                    {% if item.testresult.test_result != 'F' %}
                                    <a class="border border-gray-300 py-0.5 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'fail_app' item.pk %}">Fail</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-lg text-gray-600">There are no registered candidates yet...</p>
    {% endif %} 
</section>
{% endblock content %}