{% extends 'base.html' %}

{% block content %}
<section class="pt-8 px-16">
    <div class="flex justify-between items-baseline max-w-5xl">
        <h3 class="text-xl font-semibold text-gray-900 mb-5">{{ object }}</h3>
        <div>
            {% if perms.test_dates.delete_testdate %}
            <a class="mx-2 text-lg text-gray-600 font-medium hover:text-blue-600" href="{% url 'edit_date' object.pk %}">Edit Date</a>
            <a class="mx-2 text-lg text-gray-600 font-medium hover:text-blue-600"href="{% url 'delete_date' object.pk %}">Delete Date</a>        
            {% endif %}
        </div>  
    </div>
    
    <div class="flex items-center space-x-4 mb-5 text-gray-600">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
        </svg>
          <p>{{ object.get_test_type_display }} Test</p>
    </div>
    <div class="flex items-center space-x-4 mb-8 text-gray-600">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
        </svg>          
          <p>{{ object.max_candidates }} Candidates (Max)</p>
    </div>
    {% if object.testapplication_set.all|length > 0 %}
        <h3 class="font-semibold mb-6 text-lg text-gray-900 underline">Candidates ({{ object.testapplication_set.all|length }})</h3>
        <div class="flex flex-col max-w-2xl">
            {% for item in object.testapplication_set.all %}
                <div class="bg-white mb-5 px-4 py-2 rounded shadow">
                        <div class="flex justify-between items-baseline">
                            <div>
                                <h3 class="font-semibold text-lg text-gray-900">{{ item.user }}</h3>
                            </div>
                            {% if not item.testresult or item.testresult.test_result == 'X' %}
                            <div>
                                {% if item.application_status != 'A' %}
                                <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-green-600 hover:border-green-400 hover:text-white" href="{% url 'approve_app' item.pk %}">Approve</a>
                                {% endif %}
                                {% if item.application_status != 'R' %}
                                <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'reject_app' item.pk %}">Reject</a>
                                {% endif %}
                                {% if item.testresult.test_result is not 'P' or 'F' %}
                                    {% if perms.test_dates.delete_testdate %}
                                    <a class="border border-gray-300 py-1 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'delete_app' item.pk %}">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="flex justify-between mt-5">
                            <div class="flex space-x-5">
                                <p class="text-sm text-gray-600">{{ item.get_application_status_display }}</p>
                            
                                {% if item.testresult.test_result == 'P' %}
                                <span class="rounded-full py-0.5 px-3 text-xs font-semibold bg-green-200 text-green-600">Passed</span>
                                {% elif item.testresult.test_result == 'F' %}
                                <span class="rounded-full py-0.5 px-2 text-xs font-semibold bg-red-200 text-red-600">Failed</span>
                                {% endif %}
                            </div>
                            {% if perms.test_dates.delete_testdate %}
                                {% if item.testresult  %}
                                <div class="flex space-x-2">
                                    {% if item.testresult.test_result != 'P' and item.testresult.test_result == 'X'  %}
                                    <a class="border border-gray-300 py-0.5 px-3 text-xs font-medium hover:bg-green-600 hover:border-green-400 hover:text-white" href="{% url 'pass_app' item.pk %}">Pass</a>
                                    {% endif %}
                                    {% if item.testresult.test_result != 'F' and item.testresult.test_result == 'X' %}
                                    <a class="border border-gray-300 py-0.5 px-3 text-xs font-medium hover:bg-red-600 hover:border-red-400 hover:text-white" href="{% url 'fail_app' item.pk %}">Fail</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-lg text-gray-600">There are no registered candidates yet...</p>
    {% endif %} 
</section>
{% endblock content %}